@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
.topo{
    
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    border-bottom: 1px solid #DBDBDB;
    z-index: 2;
    
}
.mobile{
    display: none;
}
.container{
    height: 60px;
    width: 900px;
    display: flex;
    justify-content:space-between;

}
.logo{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}
.logo img{
   margin-top: 10px;
    width: 103px;
}
.borda-vertical{
    height: 24px;
    background-color: grey;
    width: 1px;
    margin-left: 11.5px;
    margin-right: 11.5px;
}

.pesquisar{

    display: flex;
    align-items: center;
}
.pesquisar input{
    padding-left:76px;
    background-color: 
    #FAFAFA;
    width: 215px;
    height: 28px;
    border: #DBDBDB 1px solid ;
    

}

.pesquisar input ::placeholder{
    font-family: 'Roboto', sans-serif;
    display: flex;
   justify-content: center;
}
.icones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    width: 120px;
}
.sugestoes{
    width: 37.23vw;
    position: fixed;
   top: 54px;
    right:  0;
    padding-right: 220px;
    background-color: #FAFAFA;
    z-index: 1;
    
}
.caixa-sugestoes{
    display: flex;
    padding-top: 57px;
    padding-left: 29px;

}

.img-sugestoes img{
margin-bottom: 24px;
width: 56px;
height: 56px;
border-radius: 50%;
}
.textos{
    height: 56px;
    width: 182px;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-weight: 500px;
   font-size: 14px;
   line-height: 16.41px;
}
h2{
    font-weight: 300px;
    font-size: 14px;
   line-height: 16.41px;
   color: #8E8E8E;


}
.para-voce{
    display: flex;
    justify-content: space-between;
    margin-left: 29px;
    margin-bottom: 17px;
}
.link1{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8E8E8E;
    
}
.link2{
    text-decoration: none;
font-size: 12px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: right;
color:  #262626;
}
.caixa-sugestao2{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.caixa-sugestao1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
.textos1{
    height: 32px;
    width: 126px;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.img-sugestoes1{
    display: flex;
}
.opcoes{
    margin-left: 29px;
    background-color: #FAFAFA;
}
.opcoes h2{
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0em;
text-align: left;
color:#8E8E8E;

}
.opcoes h1{
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
}
.link3{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    color:   #139EF2;
}
.rodape{
    padding-top: 33px;
    margin-left: 29px;
}

.rodape p{
font-size: 11px;
font-weight: 400;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color: #C7C7C7;    
}
.rodape p:last-child{
    margin-top: 18px;
}
.feed{
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}
.stories{
    padding-left: 4px;
    display: flex;
    margin-top: 88px;
    background-color: #FFFFFF;
    width: 614px;
    height: 118px;
   align-items: center;
   border: 1px solid#DBDBDB;
   overflow: hidden;
   position: relative;
}
.stories ion-icon{
    position: absolute;
    color: #FFFFFF;
    right: 8px;
    font-size: 26px;
    filter: drop-shadow(10px 10px 10px rgba(0 0 0 0.75));
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 14px;
    background-color: #FFFFFF;
}
.img-stories{
    position: relative;
    width: 66px;
    height: 66px;
}

.img-externa{
    width: 66px;
    height: 66px;
    border-radius: 50%;
}
.centro{
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.texto-stories{
   text-overflow: ellipsis;
    width: 66px;
font-size: 12px;
font-weight: 400;
line-height: 14px;
text-align: center;
color: #262626;
}
.img-sugestoes1 img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
.post{
    width: 614px;
    border: 1px solid  #DBDBDB;
    margin-top: 24px;
margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.post h1{
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #262626;

}
.post .img-sugestoes1{
    margin-left: 17px;
    width: 32px;
    height: 32px;

}
.publicacao img{
    width: 612px;


}

.usuario{
    margin-top: 15px;
margin-bottom: 15px;   
    width: 100%;
}
.reacao{
    margin-top: 12px;
    width: 614px;
    display: flex;
    justify-content: space-between;
}
.reacao1{
    width: 80px;
    margin-left: 8px;
}
.reacao1 ion-icon{
    margin-right: 5px;
    color: #000;

}
.aqui{
    color: red;
}
.salvar{
    margin-right: 17.5px;
}
.img-curtidas{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.conteudo-curtidas{
    margin-bottom: 13px;
    margin-top: 13.5px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.numero-curtidas{
    margin-left: 5px;
font-size: 14px;
font-weight: 300;
line-height: 16px;
letter-spacing: 0em;
text-align: left;


}

strong {
    font-weight: bold;
}
.barra-inferior{
    display: none;
}
@media (max-width:1320px)
{
    .sugestoes{
        width:25vw;
    }
}
@media (max-width: 935px)
{
    .sugestoes{
        display: none;
    
    }
    .topo{
        width: 100%;
    }
    .container{
        width: 95%;
    }
    .feed{
        width:614px;
        margin-left: auto;
        margin-right: auto;

    }

}
@media (max-width:614px)
{
    .container{
        display:none;
    }
.mobile{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mobile ion-icon{
    margin: 21px;
}
.insta{
    width: 103px;
    height: 29px;
    margin-top: 18px;
}
.direct ion-icon{
    font-size: 17.9px;
    margin-right: 18.6px;
}
.stories ion-icon{
    display:none;
}
.stories{
    width: 100%;
    border:none;
    background-color: #FAFAFA;
    margin-top: 64px;
}
.post{
    margin-top:0px;
    margin-bottom: 60px;
}
.barra-inferior{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
   right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    padding-right: 17px;
}
.barra-inferior ion-icon{
    font-size: 20px;
    margin-left: 19.7px;

}
.curtidas{
    margin-bottom: 8px;
}
.conteudo-curtidas{
    margin-bottom: 13px;
}
.feed{
    width: 100%;
    background-color: #FAFAFA;
}
.post{
    width: 100%;
    background-color: #FFFFFF;
}
.publicacao{
    width: 100%;
}
.publicacao img{
    width: 100%;
}
.img-feed{
    width: 100%;
}
.reacao{
    width: 100%;
}
}